.git
.gitignore
.idea
.vscode

**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.ipynb_checkpoints

.env
.env.*
.venv
venv

*.ckpt
*.pt
*.pth
temp
logs
cometml_runs
Log

build
dist
*.egg-info
