__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.idea/
.vscode/

.env
.env.*
!.env.example
.venv/
venv/

*.ckpt
*.pt
*.pth
/temp/
/logs/
/cometml_runs/
/Log

build/
dist/
*.egg-info/
